:root {
  --color-teal: #63c0a7;
  --color-black: #333;
  --color-white: #fff;
  --color-rose: #ff4e56;
  --color-gray: #707070;
}

/* ------------------------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.ancho {
  max-width: 1200px;
  margin: auto;
}

body {
  font-family: Helvetica;
  color: var(--color-black);
  line-height: 24px;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  filter: grayscale(100%);
  transition: all .20s linear;
}

span {
  color: var(--color-teal);
  font-weight: bold;
}

a {
  display: inline-block;
  text-decoration: none;
  transition: all .10s linear;
}

/* ------------------------------------- */

header {
  border-bottom: 2px var(--color-rose) solid;
}

.div_header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.div_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.div_menu figure {
  width: 250px;
}

.div_menu img {
  filter: none;
}

.nav_menu {
  display: flex;
}

.btn_bars {
  display: none;
  color: var(--color-black);
  font-size: larger;
}

.nav_menu ul {
  list-style: none;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.nav_menu a {
  color: var(--color-gray);
  font-size: large;
}

.nav_menu a:hover {
  color: var(--color-rose);
}

/* ------------------------------------- */

.modal {
  display: none;
  background-color: #0000008f;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
}

.article_modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
}

.article_modal img {
  filter: none;
}

.icon_x {
  text-align: right;
  color: var(--color-rose);
  font-size: larger;
  cursor: pointer;
}

.article_modal a {
  color: var(--color-white);
  background-color: var(--color-teal);
  border: 2px var(--color-teal) solid;
  padding: 10px 30px;
  font-weight: bold;
}

.article_modal a:hover {
  color: var(--color-teal);
  background-color: var(--color-white);
}

/* ------------------------------------- */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

.callbacks_container {
  margin-bottom: 50px;
  position: relative;
  float: left;
  width: 100%;
}

.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.callbacks img {
  display: block;
  position: relative;
  z-index: 1;
  height: auto;
  width: 100%;
  border: 0;
}

.callbacks .caption {
  /* display: block; */
  position: absolute;
  z-index: 2;
  text-shadow: none;
  color: #fff;
  background: #ff4e57cb;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px 30px;
  margin: 0;
  max-width: none;
}

.caption {
  display: flex;
  align-items: center;
}

.caption a {
  color: var(--color-white);
  background-color: var(--color-teal);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 2px var(--color-teal) solid;
  font-weight: bold;
  border-radius: 5px;
}

.caption a:hover {
  background-color: var(--color-white);
  color: var(--color-teal);
}

.callbacks_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  opacity: 0.6;
  text-indent: -9999px;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  width: 38px;
  background: transparent url("../lib/responsiveslides/themes/themes.png") no-repeat left 50%;

}

.callbacks_nav:active {
  opacity: 1.0;
}

.callbacks_nav.next {
  left: auto;
  background-position: right 50%;
  right: 0;
}

/* ------------------------------------- */